server:
  port: 8084
spring:
  application:
    name: UserService
  datasource:
    url: ${AUTH_DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
jwt:
  secret: ${JWT_SECRET}
  access-token:
    expiration: 3600000
  refresh-token:
    expiration: 604800000
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  security:
    enabled: false
user-service:
  url: ${USER_SERVICE_URL}
  path: /api/v1/users